*{
    font-family: Helvetica,Arial,Lucida Sans Unicode,Helvetica Neue,sans-serif;
}

nav {
    background-color: #ddd;
    padding: 10px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav li a {
    color: #2c302c;
    text-decoration: none;
    font-weight: bold;
}
div{
    margin-left: 275px;
    max-height: 100000px;
    text-size-adjust: 200%;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav li a:hover {
	color: #a022a9;
	text-decoration: none;
	font-weight: bold;
    text-decoration:underline;
    font-size: 20px;
}
